#productList > .category-title {
  position: relative;
}
#productList > .category-title > .breadcrumb {
  margin-bottom: 0px;
}
#productList > .category-title > .breadcrumb > li::before {
  content: "";
}
#productList > .category-title > .breadcrumb > li::after {
  content: ">";
}
#productList > .category-title > .btn-default {
  position: absolute;
  right: 10px;
  top: 3px;
  height: 30px;
}
#productList > .product-list > .media {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
#productList > .product-list > .media > a img {
  height: 100px;
  width: 100px;
}
#productList > .product-list > .media > .media-body > .price {
  color: #e92322;
}
#productList > .product-list > .media > .media-body > em {
  font-size: 12px;
  color: #666;
}
#productList > .product-list > .media > .media-body > em:last-child {
  margin-left: 10px;
}
#productList > .prodocut-option {
  padding: 10px;
  position: relative;
}
#productList > .prodocut-option > .page-prev {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}
#productList > .prodocut-option > .page-next {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}
#productList > .prodocut-option > .dropdown {
  text-align: center;
}
#productList > .prodocut-option > .dropdown > a {
  height: 34px;
  display: inline-block;
  line-height: 34px;
  padding: 0 20px;
  width: 100px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#productList > .prodocut-option > .dropdown > .dropdown-menu {
  max-width: 100px;
  min-width: 100px;
  padding: 0;
  margin: 0;
  left: 50%;
  margin-left: -50px;
}
#productList > .prodocut-option > .dropdown > .dropdown-menu > li {
  max-width: 100px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #ccc;
}
